
.banner{
    width: 100%;
    max-height: 400px;

}

.banner img{
    width: 100% !important;
    object-fit: cover;
    object-position: center;
}

.portfoliosite{
    margin-top: 50px;
    margin-bottom: 50px !important;
}

.portfoliosite article{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px;
    gap: 20px;
}

.portfoliosite div{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
}

.portfoliosite img{
    width: 100%;
}

.imagem img{
    max-width: 70%;
}

.nota{
    max-width: 300px;
}

footer{
    margin-top: 70px !important;
}

@media (max-width: 768px) {
    .portfoliosite article{
        grid-template-columns: 1fr;
    }
}
